html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap-xs {
    row-gap: 0.25rem;
    column-gap: 0.25rem;
}

.gap-sm {
    gap: 0.25rem;
}

.gap-md {
    gap: 0.5rem;
}

.badge {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: red;
    border-radius: 2rem;
    color: black;
    font-weight: 600;
    white-space: nowrap;
    margin-block: 0;
}

.badge:hover {
    cursor: pointer;
}

select {
    border-radius: 0.5rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    min-width: 15rem;
    color: white;
    background-color: black;
}

option {
    padding-block: 0.5rem;
}