.app {
    background-color: black;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

header {
    padding-block: 0.2rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid white;
}

.nav-btn {
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: black;
    color: white;
    border: none;
}

.nav-btn:hover {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
}