.carousel-container {
    width: 800px;
    margin-block: 1rem;
}

.carousel {
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: 0.5s ease;
}

.carousel-btn {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: red;
    flex: 0 0 auto;
    transition: 0.5s;
}

.carousel-btn-active {
    background-color: white;
}

.carousel-btn:hover {
    cursor: pointer;
}

.carousel-filters {
    display: flex;
    gap: 0.5rem;
}

.carousel-filters > select {
    flex: 1 1 0;
}

@media (max-width: 870px) {
    .carousel-container {
        width: 95%;
        margin-inline: auto;
    }

    .carousel-filters {
        flex-direction: column;
    }
}

@media (max-width: 450px) {

}

@media (max-width: 320px) {

}