.carousel-container {
    width: 800px;
    margin-block: 1rem;
    padding: 1rem;
}

.carousel-container > h1 {
    font-weight: bolder;
}

.carousel {
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: 0.5s ease;
}

.carousel-filters {
    display: flex;
    gap: 0.5rem;
}

.carousel-filters > div {
    flex: 1 1 0;
}

@media (max-width: 870px) {
    .carousel-container {
        width: 90%;
        margin-inline: auto;
    }

    .carousel-filters {
        flex-direction: column;
    }
}

@media (max-width: 450px) {

}

@media (max-width: 320px) {

}